<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/nav.ejs') %>
            <main>
                <h1>Orders</h1>
                <% if(orders.length> 0) { %>
                    <ul>
                        <% orders.forEach(order=> { %>
                            <li>
                                <h1># <%=order._id %>
                                </h1>
                            </li>
                            <ul>
                                <% order.items.forEach(product=> { %>
                                    <li>
                                        <%= product.title %>(Quantity : <%= product.quantity %>)
                                    </li>
                                    <% }); %>
                            </ul>
                            <% }) %>
                    </ul>
                    <% } else{ %>
                        <h2>You haven't made any orders yet!!</h2>
                        <% } %>
            </main>
            <%- include('../includes/footer.ejs') %>